.news-item {
    display: flex;
    gap: 10px;
    margin: 40px 0;
    padding: 0px 50px;
}

.news-item-even {
    /*grid-template-columns: 1fr 2fr;*/
    flex-direction: row;
}

.news-item-odd {
    /*grid-template-columns: 2fr 1fr;*/
    flex-direction: row-reverse;
}

.news-item img {
    width: 250px;
    height: 180px;
    border-radius: 4px;
}

.news-item a {
    /*display: inline-block;*/
    /*text-transform: uppercase;*/
    color: var(--text-secondary-color);
    background-color: var(--bg-tertiary-color);
    border: 1px solid var(--text-primary-color);
    margin: 0px 0px;
    padding: 20px 20px;
    border-radius: 4px;
    opacity: 0.8;
}

.news-item a:hover {
    color: var(--text-secondary-color);
    background-color: var(--bg-tertiary-color);
    border: 1px solid var(--text-secondary-color);
    transform: translate(-2px, -2px);
    box-shadow: 6px 6px 10px black;
    opacity: 1;
}

.news-item a h2 {
    font-weight: bold;
}

.news-item a p {
    margin-top: 10px;
    text-align: justify;
}

.news-pager {
    display: flex;
    flex-direction: row-reverse;
    /* flex-flow: row-reverse; */
    gap: 25px;
    margin: 50px 0px 0px 0px;
}

.news-detail h1 {
    margin: 30px 0px 0px 0px;
    /*text-transform: uppercase;*/
}

.news-detail img {
    margin: 30px 0px 0px 0px;
    max-width: 600px;
    max-height: 400px;
    border-radius: 4px;
}

.news-detail p {
    margin: 30px 0px 0px 0px;
    font-size: 20px;
}

/* media queries */
@media (max-width: 1024px) {

    .news-item-even,
    .news-item-odd {
        /*grid-template-columns: 1fr;*/
        flex-direction: column;
    }

    .news-detail img {
        width: 100%;
    }
}
