/* content */
.content {
  font-size: 16px;
}

.row {
  display: flex;
  flex-direction: row;
}

.row h2 {
  padding: 0px 10px;
}

.row img {
  border-radius: 5%;
  padding: 0px 10px;
  width: 100%;
}

.row p {
  padding: 0px 20px;
  line-height: 30px;
}

.col {
  margin: 20px 0px;
}

.cols-1 { width: 8.33%; }
.cols-2 { width: 16.67%; }
.cols-3 { width: 25.00%; }
.cols-4 { width: 33.33%; }
.cols-5 { width: 41.66%; }
.cols-6 { width: 50.00%; }
.cols-7 { width: 58.33%; }
.cols-8 { width: 66.67%; }
.cols-9 { width: 75.00%; }
.cols-10 { width: 83.33%; }
.cols-11 { width: 91.67%; }
.cols-12 { width: 100%; }

/* images */
#mosquito-01 {
  max-width: 400px;
}

#mosquito-02 {
  max-width: 400px;
}

#transmision {
  border: solid 1px black;
}

/* miscellaneous */
.center {
  text-align: center;
}

.note {
  font-size: 0.8em;
}


/* media queries */
@media (max-width: 800px) {
  .row {
    display: flex;
    flex-direction: column;
  }

  .cols-1 { width: 100%; }
  .cols-2 { width: 100%; }
  .cols-3 { width: 100%; }
  .cols-4 { width: 100%; }
  .cols-5 { width: 100%; }
  .cols-6 { width: 100%; }
  .cols-7 { width: 100%; }
  .cols-8 { width: 100%; }
  .cols-9 { width: 100%; }
  .cols-10 { width: 100%; }
  .cols-11 { width: 100%; }
  .cols-12 { width: 100%; }
}
